{% extends "home/base.html" %}
{% load i18n static %}
{% load bootstrap_icons %}
{% block title %}Home{% endblock %}

{% block extrahead %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static "home/home.css" %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a class="btn btn-primary" href="/cita/">Reservar cita</a>
    {% if user.citas.exists %}
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Especialista</th>
                    <th scope="col">Eliminar cita</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in user.citas.all %}
                <tr>
                    <th scope="row">{{ cita.fecha }}</th>
                    <td>{{ cita.hora }}</td>
                    <td>{{ cita.servicio.nombre }}</td>
                    <td>{{ cita.especialista.nombre }}</td>
                    <td><a href="citas/{{cita.id}}/delete">{% bs_icon 'trash' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay citas.</p>
    {% endif %}
{% else %}
    <h1>Bienvenidos a AesthetiCare</h1>
    <p>Descubra sobre <strong><a href="/about">nuestra empresa</a></strong>, nuestros
        <strong><a href="/servicios">servicios de cosmética</a></strong> y nuestros
        <strong><a href="/especialistas">especialistas</a></strong>.</p>
    <a class="btn btn-secondary" href="/cita/">Reservar una cita ahora</a>

    
{% endif %}
{% endblock %}

{% block extrabody %}{% endblock %}
