<!DOCTYPE html>
{%extends "home/base.html" %}
{% load bootstrap4 %}
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
    {% block extrahead %}{% endblock %}
</head>
</html>
{% block title %}{% endblock %}

{% block content %}
    <section class="content" style="text-align: center;">
        <h1>Bienvenido a tu perfil, {{user.username}}!</h1>
        <div style="max-width: 400px; margin: auto;">
            <div class ="mb-3">
                <label for="Nombre completo" class="form-label">Nombre completo:</label>
                <input type="text" class="form-control" id="full_name" name="full_name"value="{{user.last_name}}, {{user.first_name}}" readonly>
            </div>

            <div class ="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text" class= "form-control" id="email" name="email" value="{{user.email}}" readonly>
            </div>

            
        </div>
        <div class="my-5"></div>

        <div class="my-3"></div>
          <div class="fixed-bottom text-center mb-5">
            <button class="btn btn-primary" id="add_payment_button">Añadir método de pago</button>
          </div>
 
          <div class="fixed-bottom text-center mb-2">
            <a class="btn btn-danger" href="/delete/">Borrar cuenta</a>
        </div>

    </section> 

{% endblock %}

{% block extrabody %}{% endblock %}
