{%extends "home/base.html" %}
{% load i18n static %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <div class="text-right">
        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#passwordModal">Cambiar contraseña</a>
    </div>
    <section class="content" style="text-align: center;">
        <h1>Bienvenido a tu perfil, {{user.username}}!</h1>
        
        <div style="max-width: 400px; margin: auto;">
            <form method="post" action="{% url 'update_profile' %}">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% if form.username.errors %}
                    <div class="form-errors">
                        <span>Usuario: </span>{{ form.username.errors.0 }}
                    </div>
                {% endif %}
                    
                {% if form.email.errors %}
                    <div class="form-errors">
                        <span>Correo: </span>{{ form.email.errors.0 }}
                    </div>
                {% endif %}
                
                
                </div>
            {% endif %}
                
                <div class ="mb-3">
                    <label for="Nombre completo" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="username" name="first_name"value="{{user.first_name}}">
                </div>
                <div class ="mb-3">
                    <label for="Nombre completo" class="form-label">Apellidos:</label>
                    <input type="text" class="form-control" id="username" name="last_name"value="{{user.last_name}}" >
                </div>
                <div class ="mb-3">
                    <label for="Nombre completo" class="form-label">Usuario:</label>
                    <input type="text" class="form-control" id="username" name="username"value="{{user.username}}" >
                </div>
                <div class ="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class= "form-control" id="email" name="email" value="{{user.email}}" >
                </div>
                
                
                <button type="submit" class="btn btn-primary" id=" confirmButton">Confirmar cambios</button>
            </form>

            <form method="post" action="{% url 'update_password' %}">
                {% csrf_token %}
                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="passwordModal">Modificar contraseña</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Add your credit card form here -->
                                <!-- Example: -->
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="new_password1" class="form-label">Nueva Contraseña:</label>
                                        <input type="password" class="form-control" id="new_password1" name="new_password1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="new_password2" class="form-label">Confirmar Contraseña:</label>
                                        <input type="password" class="form-control" id="new_password2" name="new_password2">
                                    </div>
                                    <!-- Add other credit card fields as needed -->
                                    <button type="submit" class="btn btn-primary"id= "enablepassword" >Guardar contraseña</button>

                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                                
            </form>
        




        <div class="fixed-bottom text-center mb-5">
            <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#creditCardModal">Modificar tarjeta de crédito</a>
        </div>


        <div class="fixed-bottom text-center mb-2">
            <a class="btn btn-danger" href="/delete/"id="deleteAccountBtn">Borrar cuenta</a>
        </div>
    </section> 

    <script>
        document.getElementById('deleteAccountBtn').addEventListener('click', function () {
            var isConfirmed = confirm('¿Estás seguro de que quieres borrar tu cuenta?');

            if (isConfirmed) {
                // Redirect to the delete view or perform the delete action
                window.location.href = "/delete/";
            }
        });
    </script>


    
  



    <div class="modal fade" id="creditCardModal" tabindex="-1" role="dialog" aria-labelledby="creditCardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="creditCardModalLabel">Modificar tarjeta de crédito</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add your credit card form here -->
                    <!-- Example: -->
                    <form method="post">
                        {% csrf_token %}
                        <!-- Add your credit card form fields -->
                        <div class="mb-3">
                            <label for="cardNumber" class="form-label">Número de tarjeta:</label>
                            <input type="number" class="form-control" id="cardNumber" name="card_number">
                        </div>
                        <div class="mb-3">
                            <label for="cardDate" class="form-label">Fecha de Caducidad:</label>
                            <input type="date" class="form-control" id="cardDate" name="card_date">
                        </div>
                        <div class="mb-3">
                            <label for="securityNumber" class="form-label">Número de seguridad:</label>
                            <input type="number" class="form-control" id="securityNumber" name="security_number">
                        </div>
                        <!-- Add other credit card fields as needed -->
                        <button type="submit" class="btn btn-primary">Guardar tarjeta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

    



{% endblock %}

{% block extrabody %}{% endblock %}
