{% extends "home/base.html" %}
{% load i18n static %}
{% load bootstrap_icons %}

{% block title %}Perfil{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert">
        {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <section class="content mt-3" style="text-align: center;">
        <h1>Bienvenido a tu perfil, {{user.first_name}}!</h1>

        <div class="form-group">
            <label for="first_name">Nombre</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{user.first_name}}" readonly>
        </div>
        <div class="form-group">
            <label for="last_name">Apellidos</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="{{user.last_name}}" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="{{user.email}}" readonly>
        </div>

        <div class="text-center mt-3">
            <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#datosModal">Modificar datos</a>
        </div>

        <div class="text-center mt-3">
            <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#passwordModal">Cambiar contraseña</a>
        </div>

        

        <div class="text-center mt-3">
            <a class="btn btn-danger" id="deleteAccountBtn">Borrar cuenta</a>
        </div>

        
        <div class="modal fade" id="datosModal" tabindex="-1" role="dialog" aria-labelledby="datosModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="datosModal">Modificar datos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/perfil/update_profile">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="first_name" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="first_name" name="first_name"value="{{user.first_name}}">
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Apellidos:</label>
                                <input type="text" class="form-control" id="last_name" name="last_name"value="{{user.last_name}}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
                            </div>

                            <button type="submit" class="btn btn-primary" id="enablepassword">Guardar cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>  

        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordModal">Modificar contraseña</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="post" action = "/perfil/update_password">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="new_password1" class="form-label">Nueva Contraseña:</label>
                                <input type="password" class="form-control" id="new_password1" name="new_password1">
                            </div>
                            <div class="mb-3">
                                <label for="new_password2" class="form-label">Confirmar Contraseña:</label>
                                <input type="password" class="form-control" id="new_password2" name="new_password2">
                            </div>
                            <button type="submit" class="btn btn-primary" id="enablepassword" >Guardar contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
       
        
        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmar eliminación de cuenta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que quieres borrar tu cuenta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <img src="{% static 'home/images/background.jpg' %}" alt="Bottom Images" class="bottom-image mt-5"style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
        

    </section> 

    <script>
        document.getElementById('deleteAccountBtn').addEventListener('click', function () {
            // Show the confirmation modal
            var deleteConfirmationModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
            deleteConfirmationModal.show();
        });
    
        document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
            // User has confirmed, proceed with account deletion

            window.location.href = "/delete/";

        });
    </script>

   
{% endblock %}

{% block extrabody %}{% endblock %}
