{% extends "home/base.html" %}
{% load i18n static %}

{% block title %}Servicios{% endblock %}

{% block extrahead %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static "home/servicios_especialistas.css" %}">
{% endblock %}

{% block content %}
{% for servicio in servicios %}
<div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ servicio.nombre }}</div>
        <div class="card-body">
            <p class="card-text">{{ servicio.descripcion }}</p>
        </div>
</div>
{% endfor %}
{% endblock %}