/* Import the styles from homepage.css */
@import 'style.css';

/* Add additional styles for the registration page */
body {
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header h1 a {
  color: var(--neutral-background);
  padding: 0 20px;
  font-weight: bold;
  text-decoration: none;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
}