{% extends "home/base.html" %}
{% load i18n static %}
{% load bootstrap_icons %}
{% block title %}Mis citas{% endblock %}

{% block extrahead %}
    <script src="https://js.stripe.com/v3/"></script>
<!-- Custom CSS -->
<style>
    body {
        background-color: rgba(255, 255, 255);
    }
    .login-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 40px 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .login-container h1, p {
        text-align: center;
        margin-bottom: 30px;
    }
    .login-container-usuario {
        margin: 0 auto;
        padding: 40px 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-top: 50px;
        width: auto;
        height: auto;
    }
    .login-container-usuario h3, p {
        text-align: center;
        margin: 30 px;
    }
    .boton {
        text-align: right;
    }
</style>
{% endblock %}

{% block content %}

    <section class="hero">
        {% if message %}
        <ul class="message">
            <li class="info">{{ message }}</li>
        </ul>
        {% endif %}
        {% if success_message %}
        <div class="mt-3">
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
        </div>
        {% endif %}
    </section>
    
<div class="container">
    <div class="login-container-usuario">
        <h3><strong>Aquí puede ver sus próximas citas</strong></h3>
        {% if citas_futuras %}
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Especialista</th>
                        <th scope="col">Método de pago</th>
                        <th scope="col">Pagar ahora</th>
                        <th scope="col" style="text-align: center;">Pagado</th>
                        <th scope="col" style="text-align: center;">Poner reclamación</th>
                        <th scope="col" style="text-align: center;">Eliminar cita</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas_futuras %}
                    <tr>
                        <th>{{ cita.fecha }}</th>
                        <td>{{ cita.hora }}</td>
                        <td>{{ cita.servicio.nombre }}</td>
                        <td>{{ cita.especialista.nombre }}</td>
                        <td>
                            {% if cita.metodo_pago == "TA" %}
                                Tarjeta
                            {% else %}
                                Efectivo
                            {% endif %}
                        </td>
                    <td>
                        {% if cita.pagado %}
                            <p>Ya pagada</p>
                        {% else %}
                            {% if cita.metodo_pago == "TA" %}
                        <button id="submit" class="btn btn-primary submit-btn" data-cita-id="{{ cita.id }}" data-price-id="{{ cita.servicio.precioId }}">Reintentar</button>
                        {% else %}
                        <button id="submit" class="btn btn-primary submit-btn" data-cita-id="{{ cita.id }}" data-price-id="{{ cita.servicio.precioId }}">Pagar ahora</button>
                        {% endif %}
                        {% endif %}

                    </td>
                        <td style="text-align: center;">
                            {% if cita.pagado %}
                                <span class="text-success">{% bs_icon 'check-circle-fill' %}</span>
                            {% else %}
                                <span class="text-danger">{% bs_icon 'x-circle-fill' %}</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <a href="/reclamaciones/{{cita.id}}/add">
                                {% bs_icon 'plus-circle' %}
                            </a>
                        </td>
                        <td style="text-align: center;"><a href="/citas/{{cita.id}}/delete">{% bs_icon 'trash' %}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="margin-top: 30px;">No tiene próximas citas</p>
        {% endif %}
    </div>
</div>
<div class="container">
    <div class="login-container-usuario">
        <h3><strong>Aquí puede ver sus citas pasadas</strong></h3>
        {% if citas_pasadas %}
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Especialista</th>
                        <th scope="col">Método de pago</th>
                        <th scope="col" style="text-align: center;">Pagado</th>
                        <th scope="col" style="text-align: center;">Poner reclamación</th>
                        <th scope="col" style="text-align: center;">Eliminar cita</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas_pasadas %}
                    <tr>
                        <th>{{ cita.fecha }}</th>
                        <td>{{ cita.hora }}</td>
                        <td>{{ cita.servicio.nombre }}</td>
                        <td>{{ cita.especialista.nombre }}</td>
                        <td>
                            {% if cita.metodo_pago == "TA" %}
                                Tarjeta
                            {% else %}
                                Efectivo
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if cita.pagado %}
                                <span class="text-success">{% bs_icon 'check-circle-fill' %}</span>
                            {% else %}
                                <span class="text-danger">{% bs_icon 'x-circle-fill' %}</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <a href="/reclamaciones/{{cita.id}}/add">
                                {% bs_icon 'plus-circle' %}
                            </a>
                        </td>
                        {% if user.is_authenticated %}
                        <td style="text-align: center;"><a href="/citas/{{cita.id}}/delete">{% bs_icon 'trash' %}</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="margin-top: 30px;">No tiene citas pasadas</p>
        {% endif %}
    </div>
</div>
<script>
      fetch("utils/config/")
      .then((result) => { return result.json(); })
      .then((data) => {
        // Initialize Stripe.js
        const stripe = Stripe(data.publicKey);
        console.log(stripe);

        $(document).ready(function() {
        $('.submit-btn').click(function() {
            console.log("Sanity check!");

            // Get data attributes from the #submit button
            const citaId = $(this).data('cita-id');
            const priceId = $(this).data('price-id');

            // Create arrays for priceIds and citasIds
            const priceIds = [];
            const citasIds = [];

            // Push the values into respective arrays
            citasIds.push(citaId);
            priceIds.push(priceId);

            // Create a dictionary containing lists of priceIds and citasIds
            const docs = {
                'priceIds': priceIds,
                'citasIds': citasIds
            };

            console.log(docs); // Check the generated dictionary in the console

            // Now try sending this data to the server via AJAX to identify any syntax errors or issues
            // Replace this fetch with your actual server endpoint for creating the checkout session
            fetch("utils/create-custom-checkout-session/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(docs) // Sending data as JSON string
            })
            .then((result) => {
                console.log(result);
                if (!result.ok) {
                    throw new Error('Network response was not ok');
                }
                return result.json();
            })
            .then((data) => {
                console.log(data); // Check the response in the console
                return stripe.redirectToCheckout({ sessionId: data.sessionId });
            })
            .catch((error) => {
                console.error('Fetch error:', error);
            });
        });
    });
        });
</script>

{% endblock %}

{% block extrabody %}{% endblock %}
