{% extends "home/base.html" %}
{% load i18n static %}

{% block title %}Reserva{% endblock %}

{% block extrahead %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <style>
        body {
          background-color: #f5f5f5;
        }
        .login-container {
          max-width: 400px;
          margin: 0 auto;
          padding: 20px 20px;
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
          margin-top: 50px;
          margin-bottom: 50px;
        }
        .login-container h2 {
          text-align: center;
          margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block content %}

    <section class="hero">
        {% if message %}
        <ul class="message">
            <li class="info">{{ message }}</li>
        </ul>
        {% endif %}
        {% if success_message %}
        <div class="mt-3">
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
        </div>
        {% endif %}
    </section>

<div class="container">
    <div class="login-container">
        <br>
        <form id="citaForm" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <div class="form-errors">
                    {{ form.errors }}
                </div>
            </div>
            {% endif %}
            <h2>Haga su reserva</h2>
            <div class="form-group" style="display: none;">
                <label for="especialista">Especialista: </label>
                {{ form.especialista }}
            </div>
            
            <input type="hidden" id="id_especialista" name="especialista" value="{{ especialista.id }}">
            
            <div class="form-group">
                <label for="servicio">Especialista: </label>
                <input type="text" class="form-control" id="especialista" name="especialista" placeholder="{{ especialista }}" readonly>
            </div>
            
            <div class="form-group">
                <label for="servicio">Servicio: </label>
                {{ form.servicio }}
            </div>
            <br>
            <div id="estado-agotado-span">
                Estado: <span id="estado-agotado-span"></span>
            </div>
            <br>
            <div class="form-group">
                <label for="fecha">Fecha: </label>
                {{ form.fecha }}
            </div>
            <div class="form-group">
                <label for="hora">Hora: </label>
                {{ form.hora }}
            </div>
            <br>
            <section class="form-confirmation">
                <button id="submit" type="submit" class="btn btn-success btn-block">Agregar al carrito</button>
            </section>
        </form>
    </div>
</div>
</div>
<script>
    const serviceSelect = document.querySelector('.service-select'); // Selector del menú desplegable de servicio
    const precioSpan = document.getElementById('precio-span'); // Selector del span de precio
    const paymentMethodRadios = document.querySelectorAll('.payment-method'); // Selector de los botones de radio de método de pago
    const paymentButton = document.querySelector('#submit'); // Selector del botón de envío
    const estadoAgotadoSpan = document.getElementById('estado-agotado-span');   
    const formContainer = document.querySelector('.login-container form'); // Added this line 
    const especialistaSelect = document.querySelector('[name="especialista"]'); // Selector del menú desplegable de especialista
    const servicioSelect = document.querySelector('[name="servicio"]'); // Selector del menú desplegable de servicio


</script>
{% endblock %}