{% extends "home/base.html" %}
{% load i18n static %}

{% block title %}Citas{% endblock %}

{% block extrahead %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static "home/home.css" %}">
{% endblock %}

{% block content %}

    {% if msg %}
    <div class="alert alert-danger" role="alert">
        <div class="form-errors">
            <span>{{ msg }}</span>
        </div>
    </div>
    {% endif %}
    <h1>Consulta de Citas</h1>
    <p>Busque sus citas a través del email usado para reservar la cita</p>
    <form method="post">
        {% csrf_token %}
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br>
        <input type="submit" value="Consultar">
    </form>

{% endblock %}

{% block extrabody %}{% endblock %}
