{% extends "home/base.html" %}
{% load i18n static %}
 {% load static %}

{% block title %}Reserva{% endblock %}

{% block extrahead %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django + Stripe Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
    <script src="{% static 'main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
    <style>
        .custom-dropdown {
            width: 300px; 
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h1>Seleccione la fecha y la hora de la cita</h1>
        <form id="citaForm" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <div id="precio-display">
                Precio: <span id="precio-span">{{ form.precio.value }}</span>
            </div>
            <br>
            <button id="submit" type="submit">Pagar en efectivo</button>
        </form>
    </div>
</div>

<script>
    // Add JavaScript to update the price display dynamically when the service selection changes
    const serviceSelect = document.querySelector('.service-select');
    const precioSpan = document.getElementById('precio-span');
    var selectedPriceId = "";

    serviceSelect.addEventListener('change', async (e) => {
    const selectedServiceId = e.target.value;
    try {
        const response = await fetch(`/precio_servicio/?servicio=${selectedServiceId}`);
        const responseId = await fetch(`/precio_id_servicio/?servicio=${selectedServiceId}`);
        const data = await response.text(); // Retrieve response as text
        selectedPriceId = await responseId.text();
        precioSpan.textContent = data.trim(); // Set the text content of precioSpan
    } catch (error) {
        console.error('Error fetching price:', error);
    }
});

     function updateButtonText() {
        paymentMethodRadios.forEach(radio => {
            if (radio.checked) {
                const selectedValue = radio.value;
                if (selectedValue === 'EF') {
                    paymentButton.textContent = 'Pagar en efectivo';
                } else if (selectedValue === 'TA') {
                    paymentButton.textContent = 'Pagar con tarjeta';
                }
            }
        });
    }

    // Get all radio buttons within the payment method group
    const paymentMethodRadios = document.querySelectorAll('.payment-method');

    // Get the payment button
    const paymentButton = document.querySelector('#submit');

    // Event listeners for radio buttons change
    paymentMethodRadios.forEach(radio => {
        radio.addEventListener('change', updateButtonText);
    });

    // Call the function initially to set the button text based on the initial value
    updateButtonText();
</script>

{% endblock %}
