{% extends "home/base.html" %}
{% load i18n static %}

{% block title %}Reserva{% endblock %}

{% block extrahead %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-dropdown {
            width: 300px; 
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h1>Select Service and Specialist</h1>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <div class="form-errors">
                        <span> · </span>{{ form.errors.0 }}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="service">Select Service:</label>
                <select name="servicio" id="service" class="custom-dropdown">
                    {% for servicio in servicios %}
                        <option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
                    {% endfor %}
                </select><br><br>
            </div>
            <div class="form-group">
                <label for="specialist">Select Specialist:</label>
                <select name="especialista" id="specialist" class="custom-dropdown">
                    {% for especialista in especialistas %}
                        <option value="{{ especialista.id }}">{{ especialista.nombre }}</option>
                    {% endfor %}
                </select><br><br>
            </div>
            <section class="form-confirmation">
                <button type="submit">Check Available Timeslots</button>
            </section>
        </form>
    </div>
</div>
{% endblock %}

{% block extrabody %}{% endblock %}
