{% extends "home/base.html" %}
{% load i18n static %}
{% load bootstrap_icons %}
{% block title %}Carrito{% endblock %}

{% block extrahead %}
<!-- Custom CSS -->
<style>
    body {
        background-color: rgba(255, 255, 255);
    }
    .login-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 40px 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .login-container h1, p {
        text-align: center;
        margin-bottom: 30px;
    }
    .login-container-usuario {
        margin: 0 auto;
        padding: 40px 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-top: 50px;
        width: auto;
        height: auto;
    }
    .login-container-usuario h3, p {
        text-align: center;
        margin: 30 px;
    }
    .boton {
        text-align: right;
    }
</style>
{% endblock %}

{% block content %}

    <section class="hero">
        {% if message %}
        <ul class="message">
            <li class="info">{{ message }}</li>
        </ul>
        {% endif %}
        {% if success_message %}
        <div class="mt-3">
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
        </div>
        {% endif %}
    </section>
    
<div class="container">
    <div class="login-container-usuario">
        <h3><strong>Aquí puede ver su carrito</strong></h3>
        {% if request.session.carrito.items %}
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Especialista</th>
                        <th scope="col">Precio</th>
                        <th scope="col" style="text-align: center;">Eliminar del carrito</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in request.session.carrito.items %}
                    <tr>
                        <th>{{ value.fecha }}</th>
                        <td>{{ value.hora }}</td>
                        <td>{{ value.servicio }}</td>
                        <td>{{ value.especialista }}</td>
                        <td>{{ value.acumulado }}</td>
                        <td style="text-align: center;"><a href="/carrito/{{cita.id}}/delete">{% bs_icon 'trash' %}</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>Total:</th>
                        <td>{{ total_carrito }}€</td>
                    </tr>
                    <a class="btn btn-secondary" href="">Limpiar carrito</a>
                    <a class="btn btn-primary" href="">Pagar pedido</a>
                </tbody>
            </table>
        {% else %}
            <p style="margin-top: 30px;">No tiene citas en su carrito</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extrabody %}{% endblock %}
