<!-- templates/pay.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django + Stripe Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
      <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
        <p>Proceder al pago telemático de: </p>
        {{ priceId }}
        {{ citaId }}
      <button class="btn btn-primary" id="submit">Comprar ahora</button>
    </div>
  </section>
  <script>
      // static/main.js

console.log("Sanity check!");

// Get Stripe publishable key
fetch("utils/config/")
.then((result) => { return result.json(); })
.then((data) => {
  // Initialize Stripe.js
  const stripe = Stripe(data.publicKey);

  // new
  // Event handler
  document.querySelector("#submit").addEventListener("click", () => {
    // Get Checkout Session ID
      const priceId = "{{ priceId }}";
      const citaId = "{{ citaId }}";
    fetch(`utils/create-custom-checkout-session/${priceId}/${citaId}`) //This is an example. Change this to utils/create-custom-checkout-session/"id" for production
  .then((result) => {
    if (!result.ok) {
      throw new Error('Network response was not ok');
    }
    return result.json();
  })
  .then((data) => {
    // Redirect to Stripe Checkout
    return stripe.redirectToCheckout({ sessionId: data.sessionId });
  })
  .catch((error) => {
    console.error('Fetch error:', error);
  });
  });
});
  </script>
  </body>
</html>
