{% extends "home/base.html" %}
{% load i18n static %}

{% block title %}Especialistas{% endblock %}

{% block extrahead %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: rgba(255, 255, 255);
        }
        .login-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 40px 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .login-container h2 {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}

    <section class="hero">
        {% if message %}
        <ul class="message">
            <li class="info">{{ message }}</li>
        </ul>
        {% endif %}
        {% if success_message %}
        <div class="mt-3">
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
        </div>
        {% endif %}
    </section>

<div class="container">
    <div class="login-container">
        <form method="post"enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <div class="form-errors">
                    {{ form.errors }}
                </div>
            </div>
            {% endif %}

            <h2>Crear especialista</h2>
            <div class="form-group">
                <label class="form-label mt-4" for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
                <input type="text" name="{{ form.nombre.name }}" id="{{ form.nombre.id_for_label }}" 
                class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label mt-4" for="{{ form.imagen.id_for_label }}">{{ form.imagen.label }}</label>
                <input type="file" class="form-control" name="{{ form.imagen.name }}" accept="image/*">
            </div>

            <div class="form-group">
                <label class="form-label mt-4" for="{{ form.especialidades.id_for_label }}">Especialidades</label>
                {{ form.especialidades }}
            </div>
            <br>
            <section class="form-confirmation">
                <button class="btn btn-success btn-block" type="submit">Crear Especialista</button>
            </section>
        </form>
    </div>
</div>
{% endblock %}