{% extends "home/base.html" %}
{% load i18n static %}

{% block title %}Invitados{% endblock %}

{% block extrahead %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <!-- Custom CSS -->
    <style>
        body {
            background-color: rgba(255, 255, 255);
        }
        .login-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 40px 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .login-container h2 {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}

    <section class="hero">
        {% if message %}
        <ul class="message">
            <li class="info">{{ message }}</li>
        </ul>
        {% endif %}
        {% if success_message %}
        <div class="mt-3">
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
        </div>
        {% endif %}
    </section>

<div class="container">
    <div class="login-container">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <div class="form-errors">
                    {{ form.errors }}
                </div>
            </div>
            {% endif %}

            <h2>Crear cita</h2>
            <div class="form-group">
                <label for="{{ form.usuario.id_for_label }}" class="form-label mt-4">{{ form.usuario.label }}</label>
                {{ form.usuario }}
            </div>    
            
            <div class="form-group">
                <label for="{{ form.invitado.id_for_label }}" class="form-label mt-4">{{ form.invitado.label }}</label>
                {{ form.invitado }}
            </div>  

            <div class="form-group">
                <label for="{{ form.especialista.id_for_label }}" class="form-label mt-4">Especialista: </label>
                {{ form.especialista }}
            </div> 

            <div class="form-group">
                <label for="{{ form.servicio.id_for_label }}" class="form-label mt-4">Servicio: </label>
                {{ form.servicio }}
            </div> 

            <div class="form-group">
                <label for="{{ form.fecha.id_for_label }}" class="form-label mt-4">Fecha: </label>
                {{ form.fecha }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.hora.id_for_label }}" class="form-label mt-4">Hora: </label>
                {{ form.hora }}
            </div>
            <br>
            <div id="precio-display">
                Precio: <span id="precio-span">{{ form.precio.value }}</span>
            </div>
            <br>
            <section class="form-confirmation">
                <button class="btn btn-success btn-block" type="submit">Crear cita</button>
            </section>
        </form>
    </div>
</div>
    <script>
    const serviceSelect = document.querySelector('.service-select'); // Selector del menú desplegable de servicio
    const precioSpan = document.getElementById('precio-span'); // Selector del span de precio
    const paymentMethodRadios = document.querySelectorAll('.payment-method'); // Selector de los botones de radio de método de pago
    const paymentButton = document.querySelector('#submit'); // Selector del botón de envío

    // Agregar el evento change al menú desplegable de servicio
    serviceSelect.addEventListener('change', async (e) => {
        const selectedServiceId = e.target.value;
        try {
            const response = await fetch(`/precio_servicio/?servicio=${selectedServiceId}`);
            const responseId = await fetch(`/precio_id_servicio/?servicio=${selectedServiceId}`);
            const data = await response.text();
            precioSpan.textContent = data.trim();
        } catch (error) {
            console.error('Error fetching price:', error);
        }
    });
    </script>
{% endblock %}