{% extends "home/base.html" %}
{% load i18n static %}
{% load bootstrap_icons %}
{% block title %}Reclamaciones{% endblock %}

{% block extrahead %}
<!-- Custom CSS -->
{% endblock %}

{% block content %}
    {% if reclamaciones %}
        <table class="table">
    <thead>
        <tr class="table-secondary">
            <th scope="col">Usuario</th>
            <th scope="col">Invitado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Servicio</th>
            <th scope="col">Especialista</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Eliminar reclamación</th>
        </tr>
    </thead>
    <tbody>
        {% for reclamacion in reclamaciones %}
            <tr>
                {% if reclamacion.cita.usuario %}
                <td>{{ reclamacion.cita.usuario.email }}</td> 
                {% else %}
                <td>No aplica</td> 
                {% endif %}
                {% if reclamacion.cita.invitado %}
                <td>{{ reclamacion.cita.invitado.email }}</td> 
                {% else %}
                <td>No aplica</td> 
                {% endif %}
                <td>{{ reclamacion.fecha }}</td>
                <td>{{ reclamacion.cita.servicio.nombre }}</td>
                <td>{{ reclamacion.cita.especialista.nombre }}</td>
                <td>
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ reclamacion.id }}" aria-expanded="false" aria-controls="collapse{{ reclamacion.id }}">
                        <span style="text-decoration: underline;">Ver</span>
                    </button>
                </td>
                <td><a href="/reclamaciones/{{reclamacion.id}}/delete">{% bs_icon 'trash' %}</a></td>
            </tr>
            <tr>
                <td colspan="7">
                    <div class="accordion-collapse collapse" id="collapse{{ reclamacion.id }}">
                        <div class="accordion-body">
                            <p>{{ reclamacion.mensaje }}</p>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    {% else %}
        <p>No hay reclamaciones.</p>
    {% endif %}

{% endblock %}

{% block extrabody %}{% endblock %}